[submodule "libyui"]
	path = libyui
	url = git@github.com:libyui/libyui.git
	branch = master
[submodule "libyui-rake"]
	path = libyui-rake
	url = git@github.com:libyui/libyui-rake.git
	branch = master
[submodule "docker-devel"]
	path = docker-devel
	url = git@github.com:libyui/docker-devel.git
	branch = master
[submodule "ci-libyui-container"]
	path = ci-libyui-container
	url = git@github.com:libyui/ci-libyui-container.git
	branch = master
